# Default ignored files
/../../esercizioPrimaDellaVerifica  /.idea/shelf/
/../../esercizioPrimaDellaVerifica  /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../esercizioPrimaDellaVerifica  /.idea/httpRequests/
# Datasource local storage ignored files
/../../esercizioPrimaDellaVerifica  /.idea/dataSources/
/../../esercizioPrimaDellaVerifica  /.idea/dataSources.local.xml
